/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #E3F2FD;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Encabezado */
header {
    background: #003366;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Section */
.hero {
    background-image: url(https://fondosanimados.com/wp-content/uploads/2023/09/bmw-7.jpg);
    height: 30rem;
    color: #080808;
    text-align: center;
    padding: 100px 0;
}

.color1{
    color:#E3F2FD;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-primary {
    background: #0066cc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.btn-primary:hover {
    background: #004d99;
}

/* Beneficios */
.beneficios {
    padding: 50px 0;
}

.beneficios h2 {
    text-align: center;
    margin-bottom: 30px;
}

.beneficios-grid {
    display: flex;
    justify-content: space-around;
}

.beneficio {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.beneficio h3 {
    margin-bottom: 10px;
}

.beneficio p {
    font-size: 16px;
}

/* Estilo para la sección CTA */
#cta {
    background-color: #b3f7db; 
    color: #fff; 
    padding: 40px 20px; 
    text-align: center; 
    margin:20px;
}

/* Estilo para el contenedor dentro de la sección */
.containercotizador1 {
    background-color: #4CAF50;
    max-width: 50rem; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Estilo para el título h2 */
#cta h2 {
    font-size: 2.5em; 
    margin: 0;
    font-weight: bold; 
    line-height: 1.2; 
}

/* Estilo para el párrafo */
#cta p {
    font-size: 1.2em; 
    margin-top: 10px; 
    margin-bottom: 0;
}

.fondo-imagen {
    background-image: url(https://s3.us-east-1.amazonaws.com/liverpooldigital/cotizadorauto/assets/img/promociones/agosto_2024/AUTOSLIDER_ORG_JUL_SBB_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 34.375rem;
    padding: 1.25rem;
}

.fondo-imagen p{
    color: #fff;
    font-weight: bolder;
    font-family: cursive;
    font-style: oblique;
    font-size: 2.5rem;
    text-align: center;
}


/*COTIZADOR*/

.containercotizador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

/* Ajustar el tamaño del h1 */
.containercotizador h1 {
    font-size: 3.5rem; 
    text-decoration: underline;
    margin: 20px;
    color: #003366;
}

/* Estilo para el contenedor del formulario */
#insuranceForm {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 600px; 
    margin: 20px auto; 
}

/* Estilo para los fieldsets */
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
}

/* Estilo para los legend */
legend {
    font-weight: bold;
    padding: 0 10px;
    background-color: #f1f1f1;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Estilo para el botón al pasar el mouse sobre él */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor de resultados */
#result {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    width: 100%; 
    max-width: 700px; 
    margin: 20px auto; 
    border: 1px solid #ddd; 
}

/* Estilo para el encabezado de resultados */
#result h2 {
    font-size: 1.8rem;
    color: #003366; 
    margin-bottom: 15px;
    border-bottom: 3px solid #003366; 
    padding-bottom: 10px;
    text-align: center; 
}

/* Estilo para los resultados individuales */
.result-item {
    padding: 15px;
    border-bottom: 1px solid #ddd; 
    transition: background-color 0.3s; 
}

/* Efecto hover para resultados individuales */
.result-item:hover {
    background-color: #f1f1f1; 
}

/* Estilo para el mensaje de error dentro del contenedor de resultados */
#error {
    color: #ff0000; 
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo adicional para el contenedor de resultados si hay múltiples cotizaciones */
#result h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
    text-align: center; 
}


/* Estilo para el título de vehículos disponibles */
#vehiculosDisponibles {
    font-size: 1.75rem;
    color: #003366;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline; /
}


/* Pie de Página */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003366d2;
    color: #FFF; 
    padding: 20px; 
    width: 100%; 
    margin-top: 1.25rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 1; 
    transform: translateY(0); 
    transition: none; 
    text-align: center; 
}

/* Estilo para el texto de copyright */
.Copyright p {
    margin-top: .3125rem;
    text-transform: initial;
    font-size: 1rem;
    font-style: oblique;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

/* Animación para los íconos de redes sociales */
.redes-sociales img {
    width: 2.5rem;
    height: 2.5rem; 
    padding: 5px;
    border-radius: 50%; 
    transition: transform 0.3s, filter 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Efecto de escala, rotación y cambio de fondo en los íconos */
.redes-sociales img:hover {
    transform: scale(1.2) rotate(15deg); 
    filter: brightness(1.3);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4); 
    background-color: rgba(255, 255, 255, 0.4); 
}